.buttonShowInvoiceUnderPage {

    background-color: #323332;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 12px;
    transition: background-color 0.3s ease; 
}

.buttonContainer {

    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonShowInvoiceUnderPage:hover {

    background-color: #727272;
}